@{
    ViewBag.Title = "About";
    ViewBag.IsLandingPage = true;
}

<form class="form-wrapper" id="FinishFormWrapper" action="" method="post">
    <div class="title-1">Congratulation! You have finished your test.</div>

    <div id="FinishForm">
        <div class="form-line">            
            <p>Your test result will be check by admin. </p>
            <p>Thank you for take time to complete this test. </p>
            
        </div>
    </div>

</form>

